.app-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed blue;
}
  
  /* Tooltip text */
  .app-tooltip .app-tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 15px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  .app-tooltip:hover .app-tooltiptext {
    visibility: visible;
  }

  :host-context([right]) .app-tooltip .app-tooltiptext{
    top: -5px;
    left: 105%;

    ::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%; /* To the right of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
      }
  }

  :host-context([left]) .app-tooltip .app-tooltiptext {
    top: -5px;
    right: 105%;

    ::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
      }
  }

  :host-context([top]) .app-tooltip .app-tooltiptext {
    min-width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    ::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
      }
  }

  :host-context([bottom]) .app-tooltip .app-tooltiptext {
    min-width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    ::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
  }